body
{
	/*background-image: url(../img/achtergrond.png);*/
	background-color: #CBE6FF;
	background-color: #BDD732;
	/*background-repeat: repeat-x;*/
}

div.main{
	top: 50px;
	text-align: center;
	left: 50%;
	position: absolute;
	margin-left: -512px;

}

div.banner{
	position: relative;
	width: 1024px;
	height: 150px;
	background-image: url(../img/banner8.png);
}

div.content{
	width: 964px;
	font-family: verdana;
	font-size: 12px;
	position: relative;
	text-align: left;
	/*background-color: white;*/
	top: 15px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	background-image: url(../img/bg.png);
	background-repeat: repeat-y;
	/* border-width: thin;
	border-style: solid; */

}

div.topMenu{
	position: relative;
	top: 7px;
	height: 50px;
	width: 1024px;
	/*border-width: thin;
	border-style: solid;*/
}

ul{
	top: 170px;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}

a.menu{
	position: relative;
	z-index: 2;
	float:left;
	width:250px;
	height: 30px;
	text-decoration:none;
	align: center;
	font-size: 25px;
	font-family: verdana;
	color:#BDD732;
	background-image: url(../img/menu_bruin.png);
	background-repeat: no-repeat;
	background-position: 20px 0px;
	padding:10px 40px;
	/*border-width: thin;
	border-style: solid;*/
}

a.menu:hover {
	background-image: url(../img/menu_donkergroen.png);
	/*border-width: thin;
	border-style: solid;*/
}

.menu {
	position: static;
	display:inline;
}

div.bottom{
	position: relative;
	top: 15px;
	background-image: url(../img/onderkant2.png);
	width: 1024px;
	height: 72px;
	font-size: 12px;
	/* border-width: thin;
	border-style: solid; */
}

.content_tekst{
	/*border-width: thin;
	border-style: solid;*/
	padding-left: 10px;
}

.content_image{
	float: left;
	max-width: 600px;
	/* border-width: thin;
	border-style: solid; */
}

.container{
	overflow: hidden;
	width: 964px;
	/*border-width: thin;
	border-style: solid;*/
}

#tooltip{
	left: 20px;
	top: 430px;
	width: 180px;
	height: 70px;
	position: absolute;
	display: block;font-size: 25px;
	font-family: verdana;
	/*border-width: thin;
	border-style: solid;*/
}

.randomFoto {
    width: 350px;
    border-style: none;
}
span#info{
	display: block;
	/* border-width: thin;
	border-style: solid; */
} 